.FileDropDown {
    font-family: Arial, Helvetica, sans-serif;
}

.FileDropDown .Initiator {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration-color: blue;
    text-decoration-style: dotted;
    text-decoration: underline;
    text-underline-position: under;
    transition: all .25s ease-in-out;
}

.FileDropDown .Initiator:hover {
    text-decoration-color: orange;
}

.FileDropDown .Initiator span {
    background-color: orange;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    text-align: center;
    transform: translateY(-2px);
    width: 25px;
}

.FileDropDown .List {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #efefef;
    box-shadow: 0px 8px 15px 0px #eee;
    padding: 20px 10px 12px 10px;
    position: absolute;
    transform: translateY(5px);
    width: 230px;
    z-index: 100;
}

.FileDropDown .List .Empty {
    text-align: center;
    font-size: 13px;
}

.FileDropDown .List a {
    display: block;
    font-size: 0.75rem;
    margin: 7px 0 7px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FileDropDown .List .Adder {
    background-color: #ff8842;
    border-radius: 20px;
    border: 1px solid #eeee;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 5px;
    transition: all .25s ease-in-out;
    width: 100%;
}

.FileDropDown .List .Adder:focus {
    outline: none;
}

.FileDropDown .List .Adder:hover {
    background-color: #ffa16a;
}

.FileDropDown .List .Closer {
    background-color: #f7f7f7;
    border-radius: 50px;
    border: 1px solid #eee;
    box-shadow: none;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    position: absolute;
    right: 3px;
    top: 3px;
}

.FileDropDown .List .Closer:hover {
    background-color: #fcfcfc;
}